.btn {
  color: $white;
  background-color: darken($color4, 1%);
  padding: $m-size - 0.3 $m-size + 0.5;
  border: none;
  font-size: $m-text-size;
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.btn__link {
  background-color: transparent;
}

.btn__animate {
  transition: all 0.4s ease-in-out;
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.3);
  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.4);
  }

  &:focus {
    transform: translateY(0.5rem);
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.4);
  }
}
