.DateRangePicker,
.SingleDatePicker,
.DateRangePickerInput,
.SingleDatePickerInput,
.SingleDatePickerInput .DateInput {
  width: 100%;
}
.DateRangePickerInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
