.header {
  width: 100vw;
  background-color: $color1;
  color: $white;
} 

.header__title {
  color: $white;
  text-decoration: none;
  font-size: $m-text-size;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: $m-size 0;
}
