.input-text {
  width: 100%;
  padding: $sm-size;
  font-size: $m-text-size;
  outline: none;
  border: 1px solid $off-white3;
  line-height: 1.8;
}

.select {
  @extend .input-text;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.text-area {
  @extend .input-text;
  min-height: 10rem;
  max-width: 100%;
}
