.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-group__item {
  flex-basis: 25%;
  margin-bottom: $m-size;
  @media (max-width: $desktop-breakpoint) {
    flex-basis: 100%;
    width: 100%;
  }
}

.input-group__item__size-2 {
  flex-basis: 40%;
  @media (max-width: $desktop-breakpoint) {
    flex-basis: 100%;
    width: 100%;
  }
}
